<h2>My Heroes</h2>
<ul class="heroes">
  <!--
  [class.selected]="hero === selectedHero"
  Lorsque le héros de la ligne actuelle est le même que le selectedHero, Angular
   ajoute la selectedclasse CSS. Lorsque les deux héros sont différents, Angular supprime la classe.
-->

  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
